		<%= form_tag("/post", method: "post") do %>
		<%= text_field_tag(:post,nil,placeholder: "Whats on your mind...", class: "form-control") %>
		<%= submit_tag("Post")%>
		<%end%>
<br>
<h1>Posts</h1>
<hr>

<!-- <ul>
	<% $users.each do |user| %>
		<li>First Name:<p><%= user.first_name %></p></li>
		<li>Last Name:<p><%= user.last_name %></p></li>
		<%= image_tag user.image.url %>
		<%= link_to 'View user', user_path(user) %>
	<% end %>
</ul>

<%= link_to 'Create User', new_user_path %>
 -->
